
<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h2>Data</h2>        
        <% data.forEach( (item) => { %>
            <li>
                <%=item.name%>
                <%=item.age%>
            </li>
       <% }) %>       
    </body>
    </html>